.cart-item {
    display: grid;
    grid-template-columns: auto 2fr auto 100px;
    grid-template-rows: auto auto;
    border-bottom: 1px solid rgba(132, 132, 132, 0.5);
    padding: 1rem;
}

.cart-item > * {
    display: flex;
    align-items: center;
}

.cart-item_img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    grid-row: 1/3;
}

.cart-item_name {
    grid-row: 1/3;
    text-transform: uppercase;
}

.cart-item_totalprice {
    justify-self: center;
    font-weight: bold;
}



.btn-cart-delete {
    font-size: 0.7rem;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
    border: none;
    background: none;
    cursor: pointer;
}
