.cart {
    padding: 2rem 4rem;
    width: 100%;
    max-width: 1200px;
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.cart_title {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.cart_checkout {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: end;
    padding: 2rem 0;
}

.cart_checkout > * {
    text-align: end;
}

.total-label {
    text-transform: uppercase;
    font-size: 0.8rem;
    align-self: center;
}

.cart_total {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
}

.total-amount {
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 2rem;
}

.total-text {
    grid-column: 1/3;
    font-size: 0.8rem;
    font-style: italic;
    padding-bottom: 1rem;
}

.btn-cart_clear {
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    margin-top: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.btn-cart_clear:hover {
    color: gray;
}

.shop-link {
    color: black;
}

.cart-empty {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-self: center;

}

.cart-empty .shop-link {
    border: 1px solid black;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    text-decoration: none;
    text-transform: uppercase;
}

.min-order {
    padding-bottom: 1rem;
    font-style: italic;
    color: maroon;
    position: absolute;
    top: 4.5rem;
    left: 10%;
}