footer {
    display: flex;
    flex-direction: column;
    color: var(--clr-black);
}

.footer_subscribe {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    margin: 2rem;
    align-items: center;
    justify-content: center;
}


.subscribe-title {
    text-transform: uppercase;
}

.subscribe-input {
    display: flex;
    align-items: center;
    border-collapse: collapse;
}

.btn-subscribe {
    height: 40px;
    border: 1px solid var(--clr-black);
    background-color: var(--clr-white);
    padding: 0rem 1rem;
    border-left: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-subscribe:hover {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

.footer_main {
    display: flex;
    padding: 2rem 2rem 4rem;
    justify-content: center;
    gap: 2rem;
}

.footer-links-wrapper {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-link-title {
    text-transform: uppercase;
}

.footer-link {
    font-size: 0.8rem;
    cursor: pointer;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-contacts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-contacts-title {
    text-transform: uppercase;
}

.footer-phone {
    font-size: 1.5rem;
}

.footer-icongroup {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    max-width: 300px;
}

.footer-icongroup > * {
    cursor: pointer;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-black);
    color: var(--clr-white);
    padding: 0.5rem;
}

.developed {
    display: flex;
    gap: 2rem;
}

.gh-icon {
    width: 20px;
    height: 20px;
    filter: invert(100);
}

.gh-link {
    color: var(--clr-white);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    text-decoration: none;
}

.gh-link:hover {
    text-decoration: underline;
}

@media (max-width:900px) {
    .footer_subscribe {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .footer_main {
        flex-direction: column;
    }
    .footer_subscribe {
        margin: 0;
    }
  }