header {
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}

header.sticky {
    position: fixed;
    top: 0;;
    transition: all 0.5s ease;
    animation: smoothScroll 1s forwards;
    box-shadow: 0px 15px 15px -5px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

@keyframes smoothScroll {
    0% {
      transform: translateY(-142px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }

.header_main > a {
    color: black;
}

.logo {
  text-decoration: none;
  color: black;
}

.cart-icon {
    position: relative;
}

.cart-badge {
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 0.8rem;
    z-index: 2;
    background-color: black;
    color: white;
    font-weight: bold;
}