.product{
    padding: 1rem 5rem;
    max-width: 1000px;
    align-self: center;
    color: var(--clr-black);
}

.product_links {
    display: flex;
    gap: 0.5rem;
    padding: 0 2rem 2rem;

}

.product_links > a {
    color: var(--clr-black);
}

.product_links > a:last-child {
    font-weight: bold;
}

.product_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
    gap: 2rem;
    justify-content: center;
}

.product_img {
    height: 600px;
    width: 300px;
    object-fit: cover;
}

.product_main {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-self: center;
}

.product_title {
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom: 1px solid grey;
}

.bean.empty {
    filter: invert(70%) sepia(0%) saturate(1%) hue-rotate(175deg) brightness(88%) contrast(88%);
}

.product-label {
    font-size: 0.8rem;
    color: grey;
}

.flavors-wrapper, .grinds-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.flavor, .grind {
    border-bottom: 1px solid var(--clr-black);
    border-radius: 0.5rem;
    padding: 0.25rem 0.5rem;
}

.product_buy {
    display: flex;
    width: fit-content;
    gap: 2rem;
   
}

.slider {
    width: 500px;
    overflow: hidden;
}

@media (max-width: 600px) {
    .product_main {
        padding: 0 1rem;
    }
}